@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Check-In System</h1>
    <p class="lead">Please wait while we redirect you...</p>
</div>

<script>
    // This page should automatically redirect based on user role
    window.location.reload();
</script>